:root {
    --hue: 223;
    --bg: hsl(223,10%,90%);
    --fg: hsl(223,10%,10%);
}

a {
    text-decoration: none;
}

.events-block {
    max-width: 712px;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
}

.events-block .list-events__title {
    font-size: 36px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.events-block .section-events__controls {
    display: flex;
    position: relative;
    margin-bottom: 80px;
}

.events-block .list-events__input {
    padding-right: 120px;
}

.events-block .list-events__button {
    width: 200px;
    position: absolute;
    right: 0;
}

.events-block .section-events .section__list-events .card {
    min-height: 80px;
    width: 100%;
    background-color: #09293D;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 14px;
    margin-bottom: 9px;
    cursor: pointer;
    transition: 0.6s ease;
}

.events-block .section-events .section__list-events .card:hover {
    background-color: #123b55;
}


