* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}


body {
    background: #031927;
    font-family: 'Inter', 'Montserrat',  sans-serif;
    height: 100vh;
    position: relative;
    background-repeat: repeat;
}

button {
    background-color: #143A52;
}


.background img:first-child {
    background-repeat: no-repeat;
    position: fixed;
    bottom: 0;
    z-index: -2321;
}

.background img:last-child {
    background-repeat: no-repeat;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: -2321;
}

#qr-code {
    border: 10px solid #8075FF;
    box-shadow: 0px 0px 49px 5px #8075FF;
    margin-bottom: 20px;
}

.result-page__link {
    display: block;
    width: 600px;
    border: 4px solid #8075FF;
    padding: 20px;
    margin: 0 auto;
    margin-top: 20px;
}

@media screen and (max-width: 670px) {
    .result-page__link {
        width: 80%;

        padding: 10px;
        word-wrap: break-word;
    }
}

.starter-page__buttons {
    display: flex;
    flex-direction: column;
    max-width: 712px;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    margin-top: 50px;
}

.sign-out__button {
    margin: 0 auto;
    margin-top: 20px;
}

.sign-in__button {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}

.starter-page__buttons .list-events__button {
    margin-top: 20px;
}
.starter-page__buttons .profile__button {
    margin-bottom: 20px;
}

/* Animation loading */
.loading-spinner {
    margin: 0 auto;
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
.ap {
    width: 14em;
    height: 30em;
}
.ap__ring {
    stroke: hsla(223,10%,10%,0.15);
    transition: stroke 0.3s;
}
.ap__worm1,
.ap__worm2 {
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
.ap__worm1 {
    animation-name: worm1;
}
.ap__worm2 {
    animation-name: worm2;
    visibility: hidden;
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
    :root {
        --bg: hsl(223,10%,10%);
        --fg: hsl(223,10%,90%);
    }
    .ap__ring {
        stroke: hsla(223,10%,90%,0.1);
    }
}

/* Animtions */
@keyframes worm1 {
    from {
        animation-timing-function: ease-in-out;
        stroke-dashoffset: -87.96;
    }
    20% {
        animation-timing-function: ease-in;
        stroke-dashoffset: 0;
    }
    60% {
        stroke-dashoffset: -791.68;
        visibility: visible;
    }
    60.1%,
    to {
        stroke-dashoffset: -791.68;
        visibility: hidden;
    }
}
@keyframes worm2 {
    from,
    60% {
        stroke-dashoffset: -87.96;
        visibility: hidden;
    }
    60.1% {
        animation-timing-function: cubic-bezier(0,0,0.5,0.75);
        stroke-dashoffset: -87.96;
        visibility: visible;
    }
    77% {
        animation-timing-function: cubic-bezier(0.5,0.25,0.5,0.88);
        stroke-dashoffset: -340;
        visibility: visible;
    }
    to {
        stroke-dashoffset: -669.92;
        visibility: visible;
    }
}

.container-block {
    max-width: 712px;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
}

