* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}


body {
    background: #031927;
    font-family: 'Inter', 'Montserrat',  sans-serif;
    height: 100vh;
    position: relative;
    background-repeat: repeat;
}

button {
    background-color: #143A52;
}


.background img:first-child {
    background-repeat: no-repeat;
    position: fixed;
    bottom: 0;
    z-index: -2321;
}

.background img:last-child {
    background-repeat: no-repeat;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: -2321;
}

#qr-code {
    border: 10px solid #8075FF;
    box-shadow: 0px 0px 49px 5px #8075FF;
    margin-bottom: 20px;
}

.result-page__link {
    display: block;
    width: 600px;
    border: 4px solid #8075FF;
    padding: 20px;
    margin: 0 auto;
    margin-top: 20px;
}

@media screen and (max-width: 670px) {
    .result-page__link {
        width: 80%;

        padding: 10px;
        word-wrap: break-word;
    }
}

.starter-page__buttons {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
    margin-top: 40px;
}

.sign-out__button {
    margin: 0 auto;
    margin-bottom: 20px;
}